<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>相册</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	    crossorigin="anonymous">
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<style>
		.thumbnail>h3 {
			text-align: center;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				    aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
            	</button>
				<a class="navbar-brand" href="/">小小相册</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">全部相册</a></li>
					<li><a href="/up">上传</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="row">
			{% for item in albums %}
			<div class="col-xs-6 col-md-3">
				<a href="{{item}}" class="thumbnail">
					<!--src的目录前加/表示从根目录起-->
					<img src="/images/wjj.jpg" alt="文件夹">
					<h3>{{item}}</h3>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</body>